.Apphero {
  background-image: url('../components/assets/backgroundhero.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 80px;
  padding-bottom: 180px;
  color: white;
  font-family: "Bangers", serif;
  letter-spacing:0.1em

}

.board {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
}

.card,
.card img {
  width: 150px;
  height: 180px;  
  border-radius: 5px;
  object-fit: cover;
}

.card-not-flipped {
  width: 150px;
  height: 180px;
  border-radius: 5px;

  background-image: url('../components/assets/backgroundcard.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.life-heart {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.life-heart img {
  width: 50px;
  height: 46px;
}

.pilha-title{
  font-size: 2rem;
  margin-bottom: 0;
}

.pilha{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
}

.pilha-list{
  font-size: 1.2rem;
  list-style: square;
}


